
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Group Management</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/auth.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script>
      $(document).ready(function() {
          console.log("Document ready!");
          $.get('/auth/profile', function(data) {
              console.log(data);
              var userName = data.name;
              var currentGroupName = data.details.currentGroup.name;
              $("#operatorHolder").val(data.id);
              $("#groupHolder").val(data.details.currentGroup.id);
              document.getElementById("userBlk").innerHTML = "Welcome " + userName;
              document.getElementById("groupBlk").innerHTML = "Current group " + currentGroupName;
              var context = $("#contextHolder").val();
              if (context == 'ownership') {
                  showOwnership();
              } else if (context == 'membership') {
                  showMembership();
              } else {
                  showWorkspace();
              }
          });
      });

      function showWorkspace() {
          console.log("Show workspace");
          $.get('/auth/profile', function(data) {
              console.log(data);
              populateGroupList(data.details.membership, 'membership');
              $("#groupDisplay").hide();
              var audiofile = $('#audioHolder').val();
              $('#waveformImg').prop('src', "/waveform/" + audiofile);
              $('#waveformImg').load();
              $('#audioPlayer').prop('src', "/play/" + audiofile);
              $('#audioPlayer').load();
              $("#workspace").show();
          });
      }

function zoomImage(dir) {
    var img = $('#waveformImg');
    var w = img.width();
    var h = img.height();
    console.log("Current size: W " + img.width() + " H " + img.height());
    var inFactor = 0.8;
    var outFactor = 1.25;
    if (dir > 0) {
        console.log("Zoom out image");
        img.width(w * outFactor);
        img.height(h * outFactor);
    } else {
        console.log("Zoom in image");
        img.width(w * inFactor);
        img.height(h * inFactor);
    }
    console.log("New size: W " + img.width() + " H " + img.height());
}

      function showMembership() {
          console.log("Show membership");
          $.get('/auth/profile', function(data) {
              console.log(data);
              populateGroupList(data.details.membership, 'membership');
              $("#workspace").hide();
              showGroupInfo(data.currentGroupId, 'membership');
          });
      }

      function showOwnership() {
          console.log("Show ownership");
          $.get('/auth/profile', function(data) {
              console.log(data);
              populateGroupList(data.details.ownership, 'ownership');
              $("#workspace").hide();
              showGroupInfo(data.details.ownership[0].id, 'ownership');
          });
      }

      function populateGroupList(groups, context) {
          var gList = $('#groupList');
          gList.empty();
          $.each(groups, function(index, _group) {
              gList.append(createGroupListItem(_group, context));
          });
      }

      function createGroupListItem(group, context) {
          var liNode = document.createElement('li');
          var aNode = document.createElement('a');
          aNode.setAttribute('id', group.id);
          aNode.innerHTML = group.name;
          aNode.onclick = function() {
              $("#groupHolder").val(group.id);
              showGroupInfo(group.id, context);
          };
          liNode.append(aNode);
          return liNode;
      }

      function showGroupInfo(gid, context) {
          console.log("Group " + gid + "was just clicked");
          $("#groupHolder").val(gid);
          var groupNameNode = $("#groupName");
          var groupOwnerNode = $("#groupOwner");
          var groupMembersNode = $("#groupMembers");
          groupMembersNode.empty();
          var api = '/auth/groups/' + gid;
          $.get(api, function(data) {
              console.log("Group data for " + gid);
              console.log(data);
              groupNameNode.text(data.name);
              groupOwnerNode.text(data.ownerName + '(' + data.ownerEmail + ')');
              $.each(data.details.members, function(index, member) {
                  groupMembersNode.append(createGroupMemberNode(member));
              });
              //var members = extractGroupMembers(data.details.members);
              //groupMembersNode.text(members.join(", "));
              $("#groupDisplay").show();
              if (context == 'ownership') {
                  showActions(gid);
              } else {
                  enableSwitchButton(gid);
              }
          });
      }

function createGroupMemberNode(member) {
    //<li>One : <input type='radio' name='one' value='reader'>reader <input type='radio' name='one' value='editor'>editor </li>
    var memberInfo = member.name + "(" + member.email + ")";
    var isReader = 'checked';
    var isEditor = '';
    if (member.role == 'editor') {
        isEditor = 'checked';
        isReader = '';
    }
    var readerRadio = "<input type='radio' name='" + member.id + "_role' value='reader' " + isReader + "> reader ";
    var editorRadio = "<input type='radio' name='" + member.id + "_role' value='editor' " + isEditor + "> editor ";
    var htmlString = memberInfo  + " : " + readerRadio + editorRadio;
    var node = document.createElement('li');
    node.id = member.id;
    console.log(htmlString);
    node.innerHTML = htmlString;
    return node;
}

function updateAnimation() {
    var player = document.getElementById('audioPlayer');
    console.log("Duration: " + player.duration);
    console.log("Current time: " + player.currentTime);
    var percent = Math.round(player.currentTime * 88 / player.duration);
    var newPos = 6 + percent;
    console.log("New relative position: " + newPos + "%");
    $('#progressLine').text(player.currentTime);
    $('#progressLine').css("left", newPos + "%");
}

function updateInterval() {
    var player = document.getElementById('audioPlayer');
    var ct = player.currentTime;
    console.log("Selected time: " + ct);
    var tiHolder = $('#timeIntervalHolder');
    var curPos = tiHolder.val();
    if (curPos == '') {
        console.log("Setting start time");
        $('#startTime').val(ct);
        tiHolder.val('start');
    } else if (curPos == 'start') {
        console.log("Setting end time");
        $('#endTime').val(ct);
        tiHolder.val('end');
    } else {
        console.log("do nothing");
    }
}

function resetTimeInterval() {
    $('#timeIntervalHolder').val('');
    $('#startTime').val('');
    $('#endTime').val('');
}

function resetAnimation() {
    $('#progressLine').text("");
    $('#progressLine').css("left", "6%");
}

function showProgress() {
    $('#progressLine').show();
}

function validateAction() {
    var parts = $("#actionDetails").val().split(",");
    console.log(parts);
    var btn = $("#selectBtn");
    var act = '';
    var email = '';
    if (parts.length == 1) {
        act = parts[0].trim().toLowerCase();
        if (act != 'update') {
            return false;
        }
    } else if (parts.length == 2) {
        act = parts[0].trim().toLowerCase();
        email = parts[1].toLowerCase().trim();
        if (email.includes(" ") ) {
            console.log("Invalid email address " + email);
            btn.attr('disabled', true);
            return false;
        }
    } else {
        console.log("Invalid action string");
        btn.attr('disabled', true);
        return false;
    }
    if (act == 'add' || act == 'remove' || act == 'transfer' || act == 'update') {
        btn.attr('disabled', false);
        payloadDict = {
            action: act,
            userEmail: email,
        }
        payloadDict.updates = getRoles();
        console.log("Payload dict");
        console.log(payloadDict);
        var payload =  JSON.stringify(payloadDict);
        btn.off('click').click(
            simplePost('/auth/groups/' + $("#groupHolder").val(),  payload, function(d) {
                showOwnership();
            })
        );
        return;
    }
    console.log("Invalid actions");
    btn.attr('disabled', true);
    return false;
}

function getRoles() {
    var groupMembersNode = $("#groupMembers");
    var children = groupMembersNode.children();
    var res = {};
    for (var index = 0; index < children.length; index++) {
        var user_id = children[index].id;
        var role = $('input[name=' + user_id + '_role]:checked', '#myForm').val();
        console.log("User " + user_id + " role " + role);
        res[user_id] = role;
    }
    console.log("New roles");
    console.log(res);
    return res;
}

function showActions(gid) {
    $("#actionItems").show();
    var details = $("#actionDetails");
    details.val();

    var btn = $("#selectBtn");
    btn.text("Submit");
}

function saveAnnotation() {
    var name = $('#annotationName').val();
    var startTime = $('#startTime').val();
    var endTime = $('#endTime').val();
    var tierOne = $('#tierOne').val();
    var tierTwo = $('#tierTwo').val();
    var tierThree = $('#tierThree').val();
    var payload = {
        sound: $('#audioHolder').val(),
        name: name,
        startTime: startTime,
        endTime: endTime,
        tierOne: tierOne,
        tierTwo: tierTwo,
        tierThree, tierThree
    }
    console.log(payload);
}


function simplePost(api, payload, callback) {
    return function() {
                  console.log("Posting to API " + api + " with payload " + payload);
                  $.ajax({
                      type: "POST",
                      url: api,
                      data: payload,
                      contentType: "application/json",
                      dataType: "text",
                      success: function(_data) {
                          console.log("success data ");
                          console.log(_data);
                          callback(_data);
                      },
                      error: function(_data) {
                          console.log("error data ");
                          console.log(_data);
                          callback(_data);
                      }
                  });

    };
}

      function enableSwitchButton(gid) {
          $("#actionItems").hide();
          var btn = $("#selectBtn");
          btn.text("Select to work");
          btn.off('click').click(
              simplePost('/auth/profile', JSON.stringify({groupId: gid}), function(d) {
                  location.href = '/?context=workspace';
              })
          );
      }

      function extractGroupMembers(members) {
          var memberList = [];
          for (var index = 0; index < members.length; index++) {
              memberList.push( members[index].name + "(" + members[index].email + ")" );
          }
          return memberList;
      }

    </script>

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <!-- a class="navbar-brand" id="userBlk">User</a -->
          <div class="navbar-brand" id="userBlk">User</div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/?context=workspace" id="groupBlk">Group</a></li>
            <li><a href="/?context=membership">Membership</a></li>
            <li><a href="/?context=ownership">Ownership</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-5 col-md-3 sidebar">
          <ul class="nav nav-sidebar" id="groupList">
          </ul>
        </div>
        <div class="col-sm-7 col-sm-offset-5 col-md-9 col-md-offset-3 main">
          <!-- h1 class="page-header">placeholder</h1 -->
          <div id="groupDisplay">
            <form id='myForm'>
              <div class="form-group row">
                <label for="groupName" class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10">
                  <p class="form-control-static" id="groupName"></p>
                </div>
              </div>

              <div class="form-group row">
                <label for="groupOwner" class="col-sm-2 col-form-label">Owner</label>
                <div class="col-sm-10">
                  <p class="form-control-static" id="groupOwner"></p>
                </div>
              </div>

              <div class="form-group row">
                <label for="groupMembers" class="col-sm-2 col-form-label">Members</label>
                <div class="col-sm-10">
                    <ul class="form-control-static" id="groupMembers">
                    </ul>
                </div>
              </div>

              <div class="form-group row" id="actionItems" style="display:none">
                <label for="addMember" class="col-sm-2 col-form-label">Actions</label>
                <div class="col-sm-10">
                    <input class="form-control" style="text" id="actionDetails" onchange="validateAction()" value=""> </input>
                    <small id="emailHelp" class="form-text text-muted">
                        You can ADD, REMOVE member or TRANSFER ownership to another member. One action/member each time. E.g. <br>
                        ADD, ally@gmail.com <br>
                        REMOVE, betty@gmail.com <br>
                        TRANSFER, charlie@gmail.com
                    </small>
                </div>
              </div>

              <div class="form-group row">
                <button type="button" class="btn btn-primary" id="selectBtn">Work in this group</button>
              </div>
            </form>
          </div>

          <!-- placeholder elements -->
          <input style="display:none" id="operatorHolder"></input>
          <input style="display:none" id="userHolder"></input>
          <input style="display:none" id="groupHolder"></input>
          <input style="display:none" id="timeIntervalHolder"></input>
          <input style="display:none" id="contextHolder" value="{{ context }}"></input>
          <input style="display:none" id="audioHolder" value="{{ audiofile }}"></input>


        </div>
      </div>
    </div>

  </body>
</html>
